@model IEnumerable<MujiStore.Models.tblMediaFormatInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormatID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELFG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRTDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRTCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblMedia.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FormatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELFG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRTDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRTCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblMedia.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaFormatInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaFormatInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaFormatInfoID })
        </td>
    </tr>
}

</table>
