@model MujiStore.Models.tblFormat

@{
    ViewBag.Title = "Details";
}

<h2 style="color:#ec2213; background-color:lavenderblush; margin-left:-2px; margin-bottom:14px;">Details</h2>

<div>
    <h4>tblFormat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredBandWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredBandWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELFG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELFG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRTDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRTDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRTCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRTCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
